---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ImageAbout1 from "../assets/caseStudy1.jpg";
---

<Layout title="">
  <main>
    <Card
      h1Text="Case_Studies_Single"
      h2Text="Taxes & Efficiency"
      image={ImageAbout1}
    />
  </main>
</Layout>

<style></style>
