---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ImageAbout1 from "../assets/team1.jpg";
import PictureCards from "../components/PictureCards.astro";
---

<Layout title="">
  <main>
    <Card
      h1Text="Team"
      h2Text="The Consultors"
      image={ImageAbout1}
    />
    <PictureCards></PictureCards>
  </main>
</Layout>

<style></style>
