---
import "../styles/reset.css";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="stylesheet" href="src/styles/reset.css" />
    <link rel="stylesheet" href="src/styles/global.css" /> -->
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/">Index</a>
      <a href="/team">Team</a>
      <a href="/caseStudy">Case Study</a>
      <a href="/service">Services</a>
    </header>
    <slot />
    <footer></footer>
  </body>
</html>
<style is:global>
  :root {
  }
  a {
    text-decoration: none;
    color: beige;
    border: solid rgb(232, 226, 226) 1px;
    padding: 1rem;
  }
  a:hover {
    border-color: red;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: rgba(27, 27, 27, 0.91);
  }
  footer {
    height: 80px;
    background: rgba(27, 27, 27, 0.91);
  }
</style>
